<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplication.alarm">

    <application
        android:name="com.myapplication.alarm.AppBaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.DayNight">

        <activity android:name="com.myapplication.alarm.ClockActivity"
            android:icon="@+id/icon_group"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.myapplication.alarm.StopwatchActivity"
            android:parentActivityName="com.myapplication.alarm.ClockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight"/>

        <activity android:name="com.myapplication.alarm.TimerActivity"
            android:parentActivityName="com.myapplication.alarm.ClockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight"/>

        <activity android:name="com.myapplication.alarm.SettingActivity"
            android:parentActivityName="com.myapplication.alarm.ClockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.MinWidth"/>

        <activity android:name="com.myapplication.alarm.About"
            android:parentActivityName="com.myapplication.alarm.ClockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"/>

        <receiver android:name=".AppBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="alertUser"/>
                <action android:name="restartTimer"/>
                <action android:name="restStopwatch"/>
            </intent-filter>>
        </receiver>
    </application>
</manifest>